* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f4f5f7;
    height: 1300px;
}

.header {
    width: 100%;
    height: 79px;
}

.box {
    width: 100%;
    height: 36px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #a4a4a4;
}

.nav {
    width: 400px;
    height: 36px;
    /* background-color: black; */
    margin-left: 25px;
    font-size: 12px;
    float: left;
}

.nav ul li {
    float: left;
    padding-right: 13px;
    line-height: 36px;
}

.nav a:link,
.nav a:visited {
    color: #000;
    text-decoration: none;
}

.nav .tv {
    background: url(img/bilibili1.jpg) no-repeat left;
    padding-left: 28px;

}

.search {
    width: 393px;
    height: 36px;
    float: left;
}

.search input {
    width: 327px;
    height: 34px;
    border: 1px solid #a4a4a4;
    border-right: 0;
    padding-left: 18px;
    font-size: 14px;
    color: #000;
    float: left;
    background-color: #a4a4a4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search button {
    width: 47px;
    height: 36px;
    background-color: #a4a4a4;
    border: 0;
    float: left;
    background-image: url(img/sousuo.jpg);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.user {
    width: 41px;
    height: 41px;
    float: left;
    margin-left: 22px;
}

.nav-user {
    width: 426px;
    height: 36px;
    float: left;
}

.nav-user ul {
    padding-left: 18px;
}

.nav-user ul li {
    float: left;
    line-height: 36px;
    font-size: 14px;
    padding-right: 11px;
}

.nav-user1 {
    padding-right: 0;
}

.nav-user ul li a:link,
.nav-user ul li a:visited {
    text-decoration: none;
    color: #000;
}

.tougao {
    width: 64px;
    height: 36px;
    float: left;
    font-size: 14px;
    background-color: #fb7299;
    padding-left: 36px;
    line-height: 36px;
    margin-left: 20px;

}

.tougao span a:link,
.tougao span a:visited {
    color: #fcfcfc;
    text-decoration: none;
}

.img {
    width: 100%;
    height: 360px;
    background: url(img/beijing.png) no-repeat center top;
}

.ksdhl {
    width: 100%;
    height: 452px;
    background-color: #85a99d;
}

.ksdhl-img {
    width: 760px;
    height: 380px;
    margin: 0 auto;
}

.ksdhl-nav {
    width: 100%;
    height: 74px;
    background-color: #212121;
}

.ksdhl-nav ul {
    width: 1237px;
    height: 17px;
    padding-top: 25px;
    padding-left: 85px;
}

.ksdhl-nav li {
    float: left;
    margin-right: 38px;
    font-size: 17px;
}

.ksdhl-nav li a:link,
.ksdhl-nav li a:visited {
    color: #fff;
    text-decoration: none;
}

.tuijian {
    width: 1082px;
    height: 682px;
    margin-top: 20px;
}

.tuijian-bt {
    width: 1082px;
    height: 56px;
    float: left;
}

.tuijian-bt p {
    width: 172px;
    height: 56px;
    display: block;
    font-size: 31px;
    float: left;
}

.tuijian-bt span {
    float: right;
    width: 90px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    background-color: #def1ff;
    color: #32b1ff;
    border-radius: 20px;
}

.tuijian-img {
    width: 172px;
    height: 228px;
}

.tuijian-img img {
    width: 100%;
    height: 100%;
}

.tuijian-li {
    width: 1082px;
    height: 626px;
    float: left;
}

.tuijian-li a:link,
.tuijian-li a:visited {
    color: #000;
    text-decoration: none;
}

.tuijian-li li {
    width: 172px;
    height: 313px;
    float: left;
    margin-right: 10px;
}

.tuijian-li .tuijian-li1 {
    margin-right: 0;
}

.tuijian-p {
    width: 172px;
    height: 64px;
    font-size: 18px;
}

.tuijian-p p {
    margin-top: 12px;
}

.tuijian-p span {
    color: #999;
    font-size: 12px;
}

.remengsudi {
    width: 1082px;
    height: 480px;
    margin-top: 20px;
}

.remengsudi-bt {
    width: 1082px;
    height: 56px;
    float: left;
}

.remengsudi-bt p {
    width: 172px;
    height: 56px;
    display: block;
    font-size: 31px;
    float: left;
}

.remengsudi-bt span {
    float: right;
    width: 90px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    background-color: #def1ff;
    color: #32b1ff;
    border-radius: 20px;
}

.remengsudi-li {
    height: 522px;
    width: 1082px;
}

.remengsudi-li li {
    width: 263px;
    height: 232px;
    float: left;
    margin-right: 10px;
}

.remengsudi-li .remengsudi-li1 {
    margin-right: 0;
}

.remengsudi-img {
    width: 263px;
    height: 146px;
    float: left;
}

.remengsudi-img img {
    width: 100%;
    height: 100%;
}

.remengsudi-p {
    width: 263px;
    height: 86px;
    font-size: 18px;
    float: left;
}

.remengsudi-p p {
    margin-top: 12px;
}

.remengsudi-li a:link,
.remengsudi-li a:visited {
    color: #000;
    text-decoration: none;
}

.remengsudi-p span {
    color: #999;
    font-size: 12px;
}

.dushi {
    width: 1085px;
    height: 356px;
    margin-top: 50px;
}

.dushi-bt {
    width: 1085px;
    height: 56px;
    float: left;
}

.dushi-bt p {
    width: 172px;
    height: 56px;
    display: block;
    font-size: 31px;
    float: left;
}

.dushi-bt span {
    float: right;
    width: 90px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    background-color: #def1ff;
    color: #32b1ff;
    border-radius: 20px;
}

.dushi-li {
    width: 1085px;
    height: 296px;
    float: left;
}

.dushi-li li {
    width: 180px;
    height: 296px;
    float: left;
    margin-right: 46px;
}

.dushi-img {
    width: 180px;
    height: 239px;
}

.dushi-img img {
    width: 100%;
    height: 100%;
}

.dushi-p {
    width: 180px;
    height: 57px;
    font-size: 18px;
    float: left;
}

.dushi-p p {
    margin-top: 12px;
}

.dushi-li a:link,
.dushi-li a:visited {
    color: #000;
    text-decoration: none;
}

.dushi-p span {
    color: #999;
    font-size: 12px;
}

.dushi-li .dushi-li1 {
    margin-right: 0;
}

.footer {
    width: 100%;
    height: 435px;
    background-color: #fff;
    margin-top: 90px;
}

.footer-dt {
    float: left;
    width: 100%;
    height: 161px;
    /* background-color: aqua; */
    margin-top: 31px;
}

.footer-bilibili {
    float: left;
    width: 226px;
    height: 147px;
    margin-left: 114px;
    margin-right: 90px;
    font-size: 15px;
    border-right: 1px solid #eee;
    padding-right: 20px;
}

.footer-bilibili span {
    display: block;
    width: 265px;
    height: 14px;
    color: #cac1bc;
    margin-bottom: 20px;
}

.footer-bilibili ul {
    width: 226px;
    height: 104px;
}

.footer-bilibili li {
    float: left;
    width: 113px;
    height: 13px;
    display: block;
    margin-bottom: 16px;
}

.footer-bilibili li a:link,
.footer-bilibili li a:visited {
    color: #000;
    text-decoration: none;
}

.footer-bilibili li a:hover {
    color: #00a1d6;
}

.footer-bk {
    float: left;
    width: 1px;
    height: 152px;
    background-color: #eee;
    margin-right: 42px;
}


.footer-bilibili1 {
    float: left;
    width: 339px;
    height: 147px;
    font-size: 15px;
    padding-right: 20px;
    border-right: 1px solid #eee;
}

.footer-bilibili1 span {
    display: block;
    width: 265px;
    height: 17px;
    color: #cac1bc;
    margin-bottom: 20px;
    font-size: 17px;
}

.footer-bilibili11 ul {
    width: 339px;
    height: 104px;
}

.footer-bilibili1 li {
    float: left;
    width: 113px;
    height: 13px;
    display: block;
    margin-bottom: 16px;
}

.footer-bilibili1 li a:link,
.footer-bilibili1 li a:visited {
    color: #000;
    text-decoration: none;
}

.footer-bilibili1 li a:hover {
    color: #00a1d6;
}

.footer-bilibili2 {
    float: left;
    width: 350px;
    height: 182px;
    /* background-color: #00a1d6; */
}

.footer-bilibili2 ul {
    margin-left: 52px;
}

.footer-bilibili2 li {
    float: left;
    width: 56px;
    height: 79px;
    margin-top: 34px;
    font-size: 14px;
    margin-right: 15px;
}

.footer-img {
    width: 55px;
    height: 55px;
}

.footer-img img {
    width: 100%;
    height: 100%;
}

.footer-a a {
    display: inline-block;
    width: 56px;
    height: 13px;
    line-height: 13px;
}

.footer-a a:link,
.footer-a a:visited {
    color: #000;
    text-decoration: none;
}

.footer-a a:hover {
    color: #00a1d6;
}

.footer-a1 {
    padding-left: 13px;
}

.buttom-box {
    width: 100%;
    height: 200px;
    float: left;
    margin-left: 98px;
    margin-top: 25px;
}

.pic-box {
    width: 100px;
    height: 191px;
    float: left;
    margin-left: 20px;
    margin-right: 24px;
}

.text-box .teshu-1 {
    display: inline-block;
    width: 860px;
    height: 60px;
    line-height: 25PX;
    font-size: 14px;
    color: #a6a7a9;
}

.text-box p {
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    color: #a6a7a9;
}

.text-box a:link,
.text-box a:visited {
    text-decoration: none;
    color: #a6a7a9
}

.text-box a:hover {
    color: #00a1d6;
}

.hulianwang {
    display: inline-block;
    background: url(images/hulianwang.jpg) no-repeat left 6px;
    padding-left: 20px;
}

.jinhui {
    display: inline-block;
    background: url(images/jinghui.jpg) no-repeat left;
    padding-left: 20px;
}

.weifa {
    display: inline-block;
    background: url(images/weifa.jpg) no-repeat left;
    padding-left: 20px;
}